<div class="position-info">
    <dl>
        <dt>
            <p>
                <span>{{ data.job }}：</span> <mark>{{ data.salaryName }}</mark>
            </p>
            <p>
                <span>{{ data.cityName }}：</span> {{ data.experience }} {{ data.education }}
            </p>
            <p>
                {{ data.benefit }}
            </p>
        </dt>
        <dd>
            <!--<img ng-show="isLogin" ng-click="favorite()" ng-src="{{ imgPath }}" alt="">-->
        </dd>
    </dl>
</div>