<div class="me" ng-controller="Me">
    <div>
        <section>
            <img src="//static.lagou.com/i/image/M00/00/ED/CgqKkVZbw3eAS5NKAAAptNglgQY659.jpg" alt=""><br />
            <span>笑死</span>
        </section>
        <section>
            <p ui-sref="post">投递</p>
            <p ui-sref="favorite">收藏</p>
        </section>
        <section>
            <button ng-click="logout()">退出登录</button>
        </section>
    </div>
    <!--<div>-->
        <!--<button ui-sref="login" class="go-login">去登录</button>-->
    <!--</div>-->
</div>
<app-footer></app-footer>