.company {
  width: 100%;
  dl {
    width: 96%;
    margin: rem(24) auto;
    overflow: hidden;
    dt {
      width: rem(160);
      height: rem(160);
      float: left;
      margin-right: rem(12);
      img {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px #F6F6F6 solid;
      }
    }
    dd {
      padding-top: rem(24);
      p {
        line-height: rem(42);
      }
    }
  }
}
